.backgroundImage {
    /* background-image: url(/handcrafted/public/images/landing.svg); */
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 4px;
    height: auto;
    padding: 2rem;
    border: 2px solid black;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
}